@import '../../assets/styles/colors';
@import '../../assets/styles/typography';

.destiny-style-selection {
  align-items: center;
  border: 1px solid palette(black);
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  font-family: 'Space Mono', monospace;
  height: 2em;
  justify-content: center;
  text-align: center;

  *:first-child,
  *:last-child {
    cursor: pointer;
    flex: 1 1 10% !important;

    &:focus {
      border: 1px dotted palette(black);
    }
  }

  *:first-child {
    margin-left: 1em;
  }

  *:last-child {
    margin-right: 1em;
  }

  * {
    align-self: center;
    flex: 10 10 90% !important;
    overflow-x: hidden;
  }
}
