@import '../../assets/styles/form-inputs';
@import '../../assets/styles/colors';
@import '../../assets/styles/transitions';
@import '../../assets/styles/typography';

.password-icon-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  overflow: visible;
  position: relative;
  width: 80%;

  .password-icon {
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    right: -1%;
    width: 10%;
    z-index: 2;
  }
}
