@import '../../assets/styles/form-inputs';

.password-confirmation-set {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 1em;

  * {
    box-sizing: border-box;
    flex: 8 8 50em;
    margin-left: 1em;
  }

  *:first-child {
    margin-left: 0;
    flex: 1 1 auto !important;
  }

  *:last-child {
    margin-right: 0;
    flex: 1 1 auto !important;
  }
}
