$srm_gradient: linear-gradient(90deg,
  #F3F993 0%,
  #F5F75C 3%,
  #F6F513 6%,
  #EAE615 9%,
  #E0D01B 12%,
  #D5BC26 15%,
  #CDAA37 18%,
  #C1963C 21%,
  #BE8C3A 24%,
  #BE823A 27%,
  #C17A37 30%,
  #BF7138 33%,
  #BC6733 36%,
  #B26033 39%,
  #A85839 42%,
  #985336 45%,
  #8D4C32 48%,
  #7C452D 51%,
  #6B3A1E 54%,
  #5D341A 57%,
  #4E2A0C 60%,
  #4A2727 63%,
  #361F1B 66%,
  #261716 69%,
  #231716 72%,
  #19100F 75%,
  #16100F 78%,
  #120D0C 81%,
  #100B0A 84%,
  #050B0A 100%
);

$beer_gradient: linear-gradient(#ffec99, #f28b00);
$caramel-shimmer_gradient: linear-gradient(#96631a, #805516, #805516, #6a4712);
