.aegir-grid {
  display: grid;
  box-sizing: border-box;
  padding: 1em 0;
  grid-gap: 1em;

  &.five-columns {
    grid-template-columns: 15% 15% 15% 15% 15%;
    grid-template-rows: 100%;
  }

  &.four-columns {
    grid-template-columns: 17% 17% 17% 17%;
    grid-template-rows: 100%;
  }

  &.three-columns {
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;
  }

  &.two-columns {
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
  }

  * {
    box-sizing: border-box;
  }
}

.one-third {
  grid-column-end: span 1;
}

.two-thirds {
  grid-column-end: span 2;
}
